.conteiner {
    margin: auto;
    padding: auto;
    position: relative;
    color: white;
    background-size: cover;
}

.conteiner img {
    height: 100vh;
    width: 200vh;
    border-radius: 20px;
    background-image: linear-gradient(to right);
}

.baixoEsquerda {
    font-style: italic;
    position: absolute;
    bottom:0;
    left:0;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.baixoEsquerda:hover{
    font-size: 50px;
}

.centroEsquerda {
    font-style: italic;
    position: absolute;
    top:20%;
    left:0;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.centroEsquerda:hover {
    font-size: 50px;
    color: black;
}
.topoEsquerda {
    font-style: italic;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.topoEsquerda:hover {
    font-size: 40px;
}